[v-cloak]{
	display: none;
}
#app{
	width: 1000px;
	margin: 0 auto;
	font-size: 0;
}
.shopTitle{
	width: 100%;
	height: 30px;
	line-height:30px;
	border-bottom: 1px solid #f7f7f7;
	box-sizing: border-box;
}
.shopCont{
	border-bottom: 1px solid #f7f7f7;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
.number{
	width: 100px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
}
.name{
	width: 200px;
	display: inline-block;
	font-size: 14px;
	border-left: 1px solid #f7f7f7;
	box-sizing: border-box;
	padding-left: 5px;
	text-align: center;
}
.price{
	width: 200px;
	display: inline-block;
	font-size: 14px;
	border-left: 1px solid #f7f7f7;
	box-sizing: border-box;
	padding-left: 5px;
	text-align: center;
}
.amount{
	width: 250px;
	display: inline-block;
	font-size: 14px;
	border-left: 1px solid #f7f7f7;
	box-sizing: border-box;
	padding-left: 5px;
	text-align: center;
}
.opearate{
	width: 250px;
	display: inline-block;
	font-size: 14px;
	border-left: 1px solid #f7f7f7;
	box-sizing: border-box;
	padding-left: 5px;
	text-align: center;
}
.shopCont .btn{
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #e7e7e7;
	margin-top: 10px;
	display: inline-block;
	border-radius: 10px;
	cursor: pointer;
	box-sizing: border-box;
}
.btn.disabled{
	opacity: 0.5;
}
.shopCont .countNum{
	width: 50px;
	text-align: center;
	line-height: 30px;
	display: inline-block;
}
.text{
	font-size: 14px;
}
